.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    margin-right: 180px;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header img {
    width: 800px;
    
}

.header div input {
    width: 995px;
    height: 50px;
    border: 0;
    border-radius: 8px
}

.header div {
    border-style: groove;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

textarea:focus, input:focus{
    outline: none;
}

.header input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    margin: 30px;
}

.header div svg{
    position: relative;
    top: 3px;
    left: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.list-items ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.list-items li{
    list-style-type: none;
    margin: 10px;
    margin-top: 1px;
}

@media (max-width: 1400px) {
    .header div input {
       width: 725px;
    }
}

@media (max-width: 1140px) {
    .header div input {
       width: 475px;
    }

    .header img {
        width: 510px;
        
    }
}

@media (max-width: 880px) {
    .header div input {
        width: 280px;
    }

    .header img {
        width: 308px;
        
    }

    .header div {
        width:312px
    }

}