.characters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}